.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin:auto;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 800px;
}

.App-header {
  box-shadow: 0 0 5px rgba(0, 0, 0, .5)
}
